*{margin: 1%; padding: 1%; box-sizing: border-box;}

caption {
    caption-side: top;
    align: center; 
  }
button {position:relative; box-align: center;   }

.content{display:flex; margin: auto;}

.tabela-de-pacotes{width: 100%;text-align: center;}

.tabela-pacotes{width: 100%; text-align: center;}
    .tabela-pacotes thead{background: black; font-weight: bold; color:#fff; text-align: center;}
    .tabela-pacotes tbody tr:nth-child(2n){background: #ccc;}
    .tabela-pacotes th , .tabela-pacotes td{padding: 7px 0;font-size: larger;}

@media screen and (max-width: 480px){
    .content{width: 94%;font-size: larger;}

    .tabela-pacotes thead{display:none;}
    .tabela-pacotes tbody td{display: flex; flex-direction: column;font-size: larger;}
}

@media only screen and (min-width: 1200px){
    .content{width:100%;font-size: larger;}
    .tabela-pacotes tbody tr td:nth-child(1){width:10%;font-size: larger;}
    .tabela-pacotes tbody tr td:nth-child(2){width:30%;font-size: larger;}
    .tabela-pacotes tbody tr td:nth-child(3){width:20%;font-size: larger;}
    .tabela-pacotes tbody tr td:nth-child(4){width:10%;font-size: larger;}
    .tabela-pacotes tbody tr td:nth-child(5){width:30%;font-size: larger;}
}